html, body {
	color: #fff;
	font-size: 14px !important;
	margin: 0;
}

th {
  color: black;
}

.wrapper {
  width: 100%;
  height: calc(100vh - 48px);
  display: flex;
}

#content {
  height: 100%;
  width: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  max-width: 250px;
  height: 100%;
  padding: 1em;
  background-color: #212D32;
}

.scrollable {
  overflow-y: auto;
}

#mapid {
  height: 100%;
}

.labelFeuille {
  font-weight: bold;
  color: #fff;
}

.card-body {
  color: black;
  padding: 0.5rem;
}

.card-body .address {
  font-size: 10px;
}

.btn-primary {
  background-color: #002C81;
  border-color: #002C81;
}

.btn-primary:hover {
  background-color: #005DA3;
  border-color: #005DA3;
  cursor: pointer;
}

.cards {
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 0.5em;
}

.close-link {
  text-align: right;
  cursor: pointer;
  margin: 0.5em 0;
}

.close-link:hover {
  text-decoration: underline;
}

p {
	text-align: justify;
}

.faq {
	color: #000;
	background-color: #eee;
	padding: 1em 50px 1em 50px;
}

.law {
	background-color: #dfdfdf;
	padding: 10px 20px 10px 20px;
	border-radius: 3px;
	margin-bottom: 1em;
}

h2 {
	margin-top: 1em;
	margin-bottom: 0.5em;
}

h3 {
	color: #002D81;
}

/* Barre de menu en haut */
.topnav {
  display: flex;
  justify-content: space-between;
  background-color: #005DA3;
}

.topnav-left {
  display: flex;
  align-items: center;
}

.topnav .title {
  display: flex;
  background-color: #002C81;
  font-weight: bold;
  padding: 1em;
  min-width: 250px;
}

.topnav .short-title {
  display: none;
}

.topnav a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.topnav .hamburger {
  display: flex;
  height: 100%;
  width: 3em;
  align-items: center;
  justify-content: center;
  background-color: #005DA3;
}

.topnav .hamburger:hover {
  cursor: pointer;
  background-color: #ddd;
}

.topnav-right a:hover {
  cursor: pointer;
  background-color: #ddd;
  color: black;
}

.topnav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topnav-right a {
  padding: 1em;
}

@media (max-width: 768px) {
  .topnav .title {
    min-width: 0;
  }

  .topnav .full-title {
    display: none;
  }

  .topnav .short-title {
    display: block;
  }

  .long-text {
    display: none;
  }

  .wrapper {
    height: calc(100% - 49px);
  }
}

@media (max-width: 360px) {
  .topnav-right a {
    font-size: 12px;
  }
}

#logo {
	margin-top: 50px;
}

.mapboxgl-ctrl-attrib-inner {
  color: #000;
}

.switch-map-style {
  display: flex;
  position: absolute;
  z-index: 2;
  left: 16px;
  bottom: 16px;
  border: none;
  box-shadow: 0 1px 2px 0 #00000022;
  cursor: pointer;
}

.switch-map-style img {
  width: 72px;
  height: 72px;
}