html, body {
	color: #fff;
	font-weight: bold !important;
	font-size: 14px !important;
	height: 100%;
}

th {
	color: black;
}

@media (max-width: 768px) {
    .long-text { display: none; }
}

.wrapper {
    width: 100%;
    min-height: calc(100vh - 49px);
	display: flex;
}

#content {
	min-height: 100%;
	width: 100%;
}

#sidebar_left {
    min-width: 250px;
    max-width: 250px;
	background-color: #212D32;
	min-height: 100%;
}

#sidebar_right {
    min-width: 250px;
    max-width: 250px;
	background-color: #212D32;
	min-height: 100%;
}

#mapid { 
	height: 100%; 
}

.labelFeuille {
	font-weight: bold;
	color: #fff;
}

.card-body {
	color: black;
	padding: 0.5rem;
}

.btn-primary {
	background-color: #002C81;
	border-color: #002C81;
}

.btn-primary:hover {
	background-color: #005DA3;
	border-color: #005DA3;
	cursor: pointer;
}

.close-link {
	float: right;
	cursor: pointer;
}
.close-link:hover {
	text-decoration: underline;
}

/* Barre de menu en haut */

.topnav {
  overflow: hidden;
  background-color: #005DA3;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  font-weight: bold;
}

.topnav a.active {
  text-align: left;
  background-color: #002C81;
  color: white;
  min-width: 250px;
  max-width: 250px;
  font-weight: bold;
}

.topnav-right {
  float: right;
}
