<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>DVF</title>
	<link rel="stylesheet" href="/lib/fontawesome-v5.8.1.css">
	<link rel="stylesheet" href="/lib/bootstrap-v4.3.1.css">
	<script crossorigin="anonymous" src="/lib/polyfills.js"></script>
	<link rel="stylesheet" href="/css/app.css" />
	<script src="/lib/jquery-3.3.1.min.js"></script>
	<script src="/lib/vue-2.3.4.min.js"></script>
	<script src='/lib/mapbox-0.54.0.js'></script>
	<link href='/lib/mapbox-0.54.0.css' rel='stylesheet' />
	<script src='/lib/turf5.min.js'></script>
	<script type="text/javascript" src="/lib/moment-2.18.1.min.js"></script>
	<script type="text/javascript" src="/lib/daterangepicker-3.14.1.min.js"></script>
	<script type="text/javascript" src="/lib/lodash-4.17.11.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/lib/daterangepicker.css" />
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.png">
	<style type="text/css">
		html, body {
			height: 100vh;
			overflow-y: hidden;
		}
	</style>
</head>

<body>
	<div class="topnav">
		<div class="topnav-left">
			<div class="title">
				<a class="full-title" href="/">Demande de Valeur Foncière</a>
				<a class="short-title" href="/">DVF</a>
			</div>
			<div class="hamburger" onclick="toggleLeftBar()">
				<i class="fas fa-bars fa-1x"></i>
			</div>
		</div>
		<div class="topnav-right">
			<a href="faq.html">Questions</a>
			<a href="https://github.com/etalab/DVF-app">
				Code<span class="long-text"> source</span>
			</a>
			<!--<a href="https://framaforms.org/demande-de-valeur-fonciere-dvf-votre-avis-nous-interesse-1556111586">
				Votre avis<span class="long-text"> nous intéresse</span>
			</a>-->
		</div>
	</div>

	<div id="app" class="wrapper">
		<div id="sidebar_left" class="sidebar" v-show="!fold_left" class="container">
			<div class="scrollable">
				<div class="form-group">
					<label for="departements" class="control-label">Département</label>
					<select name="departements" id="departements" onchange="selectionnerDepartement()" class="form-control">
						<option style="display:none"></option>
					</select>
				</div>
				<div class="form-group">
					<label for="communes" class="control-label">Commune</label>
					<select name="communes" id="communes" onchange="selectionnerCommune()" class="form-control">
						<option style="display:none"></option>
					</select>
				</div>
				<div class="form-group">
					<label for="sections" class="control-label">Section cadastrale</label>
					<select name="sections" id="sections" onchange="selectionnerSection()" class="form-control">
						<option style="display:none"></option>
					</select>
				</div>
				<div class="form-group">
					<label for="parcelles" class="control-label">Parcelle cadastrale</label>
					<select name="parcelles" id="parcelles" onchange="selectionnerParcelle()" class="form-control">
						<option style="display:none"></option>
					</select>
				</div>
				<div class="form-group">
					<label for="daterange" class="control-label">Date de la mutation</label>
					<input type="text" id="daterange" name="daterange" value="01-01-2010 - 15-01-2018" class="form-control" />
				</div>
			</div>

			<div v-if="section">
				<a v-if="data_section.length > 0" id="exportCSV"
					onclick="exportCSV(this, data_section, codeCommune + '_' + idSectionToCode(idSection) + '.csv');" class="btn btn-primary"
					style="width: 100%">Télécharger les mutations de la section</a>
				<div v-else class="text-muted">
					La base de données DVF ne contient pas de mutation dans la section sélectionnée sur la plage temporelle
					choisie.
					<div v-if="['67', '68', '57', '976'].indexOf(codeDepartement) != -1">
						En particulier, la base DVF ne contient pas de mutation en Haut-Rhin, Bas-Rhin, Moselle et à Mayotte.
					</div>
					<a href="/faq.html">En savoir plus</a>
				</div>
			</div>

			<div id="logo">
				<a href="https://www.etalab.gouv.fr/qui-sommes-nous">
					<img src="/images/etalab-blanc.png" alt="Etalab" style="max-width: 100px" />
				</a>
			</div>
		</div>

		<div id="content">
			<div id="mapid">
				<div class="switch-map-style" onclick="changeMapStyle()">
					<img v-if="mapStyle == 'vector'" src="/images/preview-ortho.png" alt="Fond orthophoto" />
					<img v-if="mapStyle == 'ortho'" src="/images/preview-vector.png" alt="Fond vectoriel" />
				</div>
			</div>
		</div>

		<div id="sidebar_right" class="sidebar" v-if="parcelle != null && parcelle.mutations.length > 0">
			<div onclick="sortirDeParcelle()" class="close-link">Fermer X</div>
			<div class="scrollable">
				<div class="cards">
					<boite-accordeon v-for="(mutation, index) in parcelle.mutations" :mutation="mutation"
						:key="mutation.infos[0].id_parcelle + index" :index="index"></boite-accordeon>
				</div>
			</div>
		</div>
	</div>

	<!-- Matomo -->
	<script type="text/javascript">
		var _paq = _paq || [];
		/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
		_paq.push(['trackPageView']);
		_paq.push(['enableLinkTracking']);
		(function () {
			var u = "//stats.data.gouv.fr/";
			_paq.push(['setTrackerUrl', u + 'piwik.php']);
			_paq.push(['setSiteId', '76']);
			var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
			g.type = 'text/javascript'; g.async = true; g.defer = true; g.src = u + 'piwik.js'; s.parentNode.insertBefore(g, s);
		})();
	</script>
	<script src="js/data.js"></script>
	<script src="js/component.boite.js"></script>
	<script src="js/component.boite-accordeon.js"></script>
	<script src="js/index.js?v=1"></script>

</body>

</html>
