<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>DVF</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"/>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
		<link rel="stylesheet" href="css/app.css"/>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
		<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
	</head>
	<body>
		<div class="topnav">
			<a class="active" href="/">Demande de Valeur Foncière</a>
			<a onclick="vue.fold_left = !vue.fold_left"><i class="fas fa-bars fa-1x"></i></a>
			<div class="topnav-right">
				<a href="https://github.com/marion-paclot/DVF">
					Code<span class="long-text"> source</span>
				</a>
				<a href="faq.html">A propos</a>
				<a href="https://framaforms.org/demande-de-valeur-fonciere-dvf-votre-avis-nous-interesse-1556111586">
					Votre avis<span class="long-text"> nous intéresse<span>
				</a>
			</div>
		</div>
		<div id="app" class="wrapper">
			<div id="sidebar_left" v-show="!fold_left" class="container">
				<br/>
				<div class="form-group">
					<label for="departements" class="control-label">Département</label>
					<select name = "departements" id = "departements" onchange = "selectionnerDepartement()" class="form-control">
						<option style="display:none"></option>
					</select>
				</div>
				<div class="form-group">
					<label for="communes" class="control-label">Commune</label>
					<select name = "communes" id = "communes" onchange = "selectionnerCommune()" class="form-control">
						<option style="display:none"></option>
					</select>
				</div>
				<div class="form-group">
					<label for="daterange" class="control-label">Date de la mutation</label>
					<input type="text" id="daterange" name="daterange" value="01-01-2010 - 15-01-2018" class="form-control"/>
				</div>
				<div v-if="section != null">
					<a id="exportCSV" onclick="exportCSV(this, data_dvf, codeCommune + '_' + codeSection + '.csv');" class="btn btn-primary" style="width: 100%">Télécharger les mutations de la section</a>
				</div>
			</div>
			<div id="content">
				<div id="mapid"></div>	
			</div>
			
			<div id="sidebar_right" class="container" v-if="parcelle != null && parcelle.mutations.length > 0">
				<span onclick="sortirDeParcelle()" class="mt-2 mb-2 close-link">Fermer</span>
				<br/>
				<boite-accordeon  v-for="(mutation, index) in parcelle.mutations" :mutation="mutation" :key="mutation.infos[0]['Code parcelle'] + index" :index="index"></boite-accordeon>
			</div>
		</div>

		<script src="js/index.js"></script>
		
	</body>
</html>